USE [master]
GO
/****** Object:  Database [shopDb]    Script Date: 24.09.2021 21:40:45 ******/
CREATE DATABASE [shopDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'shobDb', FILENAME = N'C:\Users\пк\AppData\Local\Microsoft\Microsoft SQL Server Local DB\Instances\MSSQLLocalDB\shobDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'shobDb_log', FILENAME = N'C:\Users\пк\AppData\Local\Microsoft\Microsoft SQL Server Local DB\Instances\MSSQLLocalDB\shobDb.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [shopDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [shopDb]
GO
USE [shopDb]
GO
/****** Object:  Table [dbo].[product_storage]    Script Date: 24.09.2021 21:40:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product_storage](
	[VendorCode] [int] NOT NULL,
	[StorageId] [int] NOT NULL,
	[Amount] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[VendorCode] ASC,
	[StorageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[products]    Script Date: 24.09.2021 21:40:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products](
	[VendorCode] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](128) NOT NULL,
	[Price] [money] NOT NULL,
	[Description] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[VendorCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[storages]    Script Date: 24.09.2021 21:40:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[storages](
	[StorageId] [int] IDENTITY(1,1) NOT NULL,
	[City] [nvarchar](128) NOT NULL,
	[Address] [nvarchar](256) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StorageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[product_storage]  WITH CHECK ADD FOREIGN KEY([StorageId])
REFERENCES [dbo].[storages] ([StorageId])
GO
ALTER TABLE [dbo].[product_storage]  WITH CHECK ADD FOREIGN KEY([VendorCode])
REFERENCES [dbo].[products] ([VendorCode])
GO
USE [master]
GO
